.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 260px;
  align-items: center;
}

/* .fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
} */

.fighter-preview___img {
  height: 380px;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___select-fighter {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 46px;
  font-family: 'Arial Black';
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.fighter-preview__info {
  /* margin: 0 auto; */
  align-self: stretch;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-family: 'Arial Black';
  font-weight: 700;
  text-transform: uppercase;
}

.fighter-preview__info h1 {
  font-size: 32px;
  text-align: center;
}

.fighter-preview__info ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.fighter-preview__info ul li {
  list-style: none;
  font-size: 28px;
  text-align: center;
  /* margin: 0; */
}

.fighter-preview__info ul li::before {
  padding-right: 5px;
}

.fighter-preview__info ul li:first-child::before {
  content: '❤';
}

.fighter-preview__info ul li:nth-child(2)::before {
  content: '✊';
  font-size: 46px;
  padding-top: -18px;
}

.fighter-preview__info ul li:last-child::before {
  content: '🛡️';
  font-size: 24px;
}